<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<h1 class="editing-book"><b>Editing Book</b></h1>

<%= form_with model:@book, local: true do |f| %>
    <div class = "field">
        <h4><b>Title</b></h4>
        <%= f.text_field :title %>
    </div>
    <div class = "field">
        <h4><b>Body</b></h4>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Update Book', class:'Update-book' %>
    </div>
    <p class="show">
    <%= link_to "Show", book_path%>
    <%= link_to "Back", books_path %>
    </p>
<% end %>